# Exercise 1 -  Sakila Star Schema & ETL  

All the database tables in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

# STEP0: Using ipython-sql

- Load ipython-sql: `%load_ext sql`

- To execute SQL queries you write one of the following atop of your cell: 
    - `%sql`
        - For a one-liner SQL query
        - You can access a python var using `$`    
    - `%%sql`
        - For a multi-line SQL query
        - You can **NOT** access a python var using `$`


- Running a connection string like:
`postgresql://postgres:postgres@db:5432/pagila` connects to the database

# STEP1 : Connect to the local database where Pagila is loaded

##  1.1 Create the pagila db and fill it with data
- Adding `"!"` at the beginning of a jupyter cell runs a command in a shell, i.e. we are not running python code but we are running the `createdb` and `psql` postgresql commmand-line utilities

In [ ]:
!PGPASSWORD=1234 createdb -h 192.168.56.102 -U postgres pagila
!PGPASSWORD=1234 psql -q -h 192.168.56.102 -U postgres -d pagila -f Data/pagila-schema.sql
!PGPASSWORD=1234 psql -q -h 192.168.56.102 -U postgres -d pagila -f Data/pagila-data.sql

## 1.2 Connect to the newly created db

In [5]:
%load_ext sql

In [6]:
DB_ENDPOINT = "192.168.56.102"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = '1234'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:1234@192.168.56.102:5432/pagila

In [7]:
%sql $conn_string

# STEP2 : Explore the  3NF Schema

<img src="./pagila-3nf.png" width="50%"/>

## 2.1 How much? What data sizes are we looking at?

In [8]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nStores\t\t=", nStores[0][0])
print("nCities\t\t=", nCity[0][0])
print("nCountry\t\t=", nCountry[0][0])

 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.
 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.
 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.
 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.
 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.
 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.
 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.
 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.
nFilms		= 1000
nCustomers	= 599
nRentals	= 16044
nPayment	= 16049
nStaff		= 2
nStores		= 2
nCities		= 600
nCountry		= 109

## 2.2 When? What time period are we talking about?

In [9]:
%%sql 
select min(payment_date) as start, max(payment_date) as end from payment;

 * postgresql://postgres:***@192.168.56.102:5432/pagila
1 rows affected.

[(datetime.datetime(2020, 1, 24, 21, 21, 56, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2020, 5, 14, 12, 44, 29, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

## 2.3 Where? Where do events in this database occur?
TODO: Write a query that displays the number of addresses by district in the address table. Limit the table to the top 10 districts. Your results should match the table below.

In [14]:
%%sql
select district, sum(city_id) as n
from address
group by district
order by n desc
limit 10;

 * postgresql://postgres:***@192.168.56.102:5432/pagila
10 rows affected.

[('Shandong', 3237),
 ('England', 2974),
 ('So Paulo', 2952),
 ('West Bengali', 2623),
 ('Buenos Aires', 2572),
 ('Uttar Pradesh', 2462),
 ('California', 2444),
 ('Southern Tagalog', 1931),
 ('Tamil Nadu', 1807),
 ('Hubei', 1790)]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>district</th>
        <th>n</th>
    </tr>
    <tr>
        <td>Buenos Aires</td>
        <td>10</td>
    </tr>
    <tr>
        <td>California</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Shandong</td>
        <td>9</td>
    </tr>
    <tr>
        <td>West Bengali</td>
        <td>9</td>
    </tr>
    <tr>
        <td>So Paulo</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Uttar Pradesh</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Maharashtra</td>
        <td>7</td>
    </tr>
    <tr>
        <td>England</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Southern Tagalog</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Punjab</td>
        <td>5</td>
    </tr>
</tbody></table></div>