# Exercise 02 -  OLAP Cubes - Roll Up and Drill Down

All the databases table in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

Start by connecting to the database by running the cells below. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed the slicing and dicing exercise, then skip to the second cell.

In [ ]:
# !PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila_star
# !PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila_star -f Data/pagila-star.sql

### Connect to the local database where Pagila is loaded

In [1]:
import sql
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila_star'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://student:student@127.0.0.1:5432/pagila_star

'Connected: student@pagila_star'

### Star Schema

<img src="pagila-star.png" width="50%"/>

## Roll-up
- Stepping up the level of aggregation to a large grouping
- e.g.`city` is summed as `country`

TODO: Write a query that calculates revenue (sales_amount) by day, rating, and country. Sort the data by revenue in descending order, and limit the data to the top 20 results. The first few rows of your output should match the table below.

In [2]:
%%time
%%sql
SELECT dd.day, dm.rating, dc.country, sum(fs.sales_amount) as revenue
FROM factSales fs
    JOIN dimMovie dm ON(fs.movie_key = dm.movie_key)
    JOIN dimDate dd ON(fs.data_key = dd.date_key)
    JOIN dimCustomer dc ON(fs.customer_key = dc.customer_key)
GROUP BY (dd.day, dc.country, dm.rating)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
20 rows affected.
CPU times: user 1.03 ms, sys: 4.13 ms, total: 5.16 ms
Wall time: 39.3 ms

[(30, 'NC-17', 'India', Decimal('349.20')),
 (30, 'G', 'China', Decimal('305.36')),
 (18, 'PG-13', 'India', Decimal('291.38')),
 (30, 'PG-13', 'China', Decimal('291.34')),
 (30, 'PG', 'India', Decimal('289.36')),
 (18, 'NC-17', 'India', Decimal('279.50')),
 (30, 'PG-13', 'India', Decimal('279.34')),
 (30, 'R', 'India', Decimal('277.42')),
 (30, 'PG', 'China', Decimal('275.46')),
 (30, 'NC-17', 'China', Decimal('269.44')),
 (30, 'R', 'China', Decimal('263.38')),
 (27, 'PG-13', 'India', Decimal('239.54')),
 (21, 'NC-17', 'India', Decimal('239.48')),
 (21, 'NC-17', 'China', Decimal('227.56')),
 (17, 'NC-17', 'United States', Decimal('227.50')),
 (30, 'G', 'India', Decimal('221.44')),
 (17, 'PG-13', 'China', Decimal('211.52')),
 (20, 'PG-13', 'India', Decimal('205.56')),
 (17, 'R', 'India', Decimal('197.60')),
 (27, 'NC-17', 'India', Decimal('197.50'))]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>day</th>
        <th>rating</th>
        <th>country</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>30</td>
        <td>G</td>
        <td>China</td>
        <td>169.67</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG</td>
        <td>India</td>
        <td>156.67</td>
    </tr>
    <tr>
        <td>30</td>
        <td>NC-17</td>
        <td>India</td>
        <td>153.64</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>China</td>
        <td>146.67</td>
    </tr>
    <tr>
        <td>30</td>
        <td>R</td>
        <td>China</td>
        <td>145.66</td>
    </tr>
</tbody></table></div>

## Drill-down
- Breaking up one of the dimensions to a lower level.
- e.g.`city` is broken up into  `districts`

TODO: Write a query that calculates revenue (sales_amount) by day, rating, and district. Sort the data by revenue in descending order, and limit the data to the top 20 results. The first few rows of your output should match the table below.

In [3]:
%%time
%%sql
SELECT dd.day, dm.rating, dc.district, sum(fs.sales_amount) as revenue
FROM factSales fs
    JOIN dimMovie dm ON(fs.movie_key = dm.movie_key)
    JOIN dimDate dd ON(fs.data_key = dd.date_key)
    JOIN dimCustomer dc ON(fs.customer_key = dc.customer_key)
GROUP BY (dd.day, dc.district, dm.rating)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
20 rows affected.
CPU times: user 993 µs, sys: 4.15 ms, total: 5.14 ms
Wall time: 75.3 ms

[(30, 'PG-13', 'Southern Tagalog', Decimal('95.78')),
 (21, 'R', 'So Paulo', Decimal('87.82')),
 (1, 'PG', 'California', Decimal('83.84')),
 (30, 'PG', 'Southern Tagalog', Decimal('71.86')),
 (30, 'G', 'Inner Mongolia', Decimal('71.86')),
 (17, 'PG-13', 'Shandong', Decimal('69.90')),
 (28, 'R', 'California', Decimal('67.86')),
 (20, 'PG-13', 'Buenos Aires', Decimal('65.88')),
 (18, 'NC-17', 'So Paulo', Decimal('65.86')),
 (30, 'NC-17', 'Michigan', Decimal('63.90')),
 (17, 'NC-17', 'California', Decimal('63.86')),
 (30, 'NC-17', 'Buenos Aires', Decimal('61.88')),
 (18, 'PG-13', 'Maharashtra', Decimal('59.92')),
 (18, 'PG', 'Shandong', Decimal('59.90')),
 (30, 'G', 'California', Decimal('59.90')),
 (30, 'PG-13', 'Uttar Pradesh', Decimal('59.88')),
 (30, 'G', 'Shandong', Decimal('59.88')),
 (20, 'PG', 'Shandong', Decimal('59.86')),
 (18, 'R', 'Sumy', Decimal('57.94')),
 (21, 'PG-13', 'Southern Tagalog', Decimal('57.92'))]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>day</th>
        <th>rating</th>
        <th>district</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>Southern Tagalog</td>
        <td>53.88</td>
    </tr>
    <tr>
        <td>30</td>
        <td>G</td>
        <td>Inner Mongolia</td>
        <td>38.93</td>
    </tr>
    <tr>
        <td>30</td>
        <td>G</td>
        <td>Shandong</td>
        <td>36.93</td>
    </tr>
    <tr>
        <td>30</td>
        <td>NC-17</td>
        <td>West Bengali</td>
        <td>36.92</td>
    </tr>
    <tr>
        <td>17</td>
        <td>PG-13</td>
        <td>Shandong</td>
        <td>34.95</td>
    </tr>
</tbody></table></div>